<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ibato">

    <!-- Enable instant app support -->
    <dist:module dist:instant="true" />

    <!-- Declare features -->asdasdasdasdas
    <uses-feature android:name="android.hardware.camera"/>

    <!-- Declare permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_no_background"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/logo_white"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:hardwareAccelerated="true"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <activity
            android:name=".feedback.FeedbackActivity">
        </activity>

        <activity
            android:name=".tutorial.TutorialActivity">
        </activity>

        <activity
            android:name=".ProfileActivity">
        </activity>

        <activity
            android:name=".home.HomeActivity">
        </activity>

        <activity
            android:name=".home.DetailActivity">
        </activity>

        <activity
            android:name=".SignUpActivity">
        </activity>
    </application>

</manifest>